
<ul class="sub">
    <div class="menu_left">
        <li><span class="category_li">- Categories -</span></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Crime">Crime</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="War">War</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Comedy">Comedy</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Adventure">Adventure</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Family">Family</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Drama">Drama</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Horror">Horror</a></li>
        <li><a asp-controller="TVShow" asp-action="Search" asp-route-id="Thriller">Thriller</a></li>
        <li><span class="category_li">- Awards -</span></li>
        <li><a href="#">Award 1</a></li>
        <li><a href="#">Award 2</a></li>
    </div>
    <div class="row menu_left">
        <li><span class="category_li">- Users list -</span></li>
        <li><a href="#">People watching</a></li>
        <li><a href="#">Most popular</a></li>
        <li><a href="#">Most voted</a></li>
        <li><a href="#">Top rated</a></li>
    </div>
</ul>