body {
    padding: 0;
    margin: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(8,13,17,1)), color-stop(2%, rgba(8,13,17,1)), color-stop(50%, rgba(20,40,50,1)), color-stop(99%, rgba(8,13,17,1)), color-stop(100%, rgba(8,13,17,1)));
    background: -webkit-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%);
    background: -o-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%);
    font-family: 'Poppins', sans-serif;
}

/* Navigation */
nav {
    padding: 30px 0 30px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(8,13,17,1)), color-stop(2%, rgba(8,13,17,1)), color-stop(50%, rgba(20,40,50,1)), color-stop(99%, rgba(8,13,17,1)), color-stop(100%, rgba(8,13,17,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%); /* opera 11.10+ */
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    border-bottom: 1px solid rgb(168, 127, 24);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

    nav ul.primary {
        position: relative;
        top: 10px;
    }

        nav ul.primary i {
            position: relative;
            top: -2px;
        }

    nav li {
        display: inline;
        text-decoration: none;
        padding: 0 10px;
        float: left;
    }
    nav ul.sub li {
        padding: 10px;
    }
    nav ul.sub {
        margin-top: 15px;
    }

        nav li span {
            display: block;
            margin-right: 50px;
            margin-top: -30px;
        }

        nav li span {
            font-size: 2em;
        }

            nav li span a {
                color: rgb(168, 127, 24);
            }

        nav li a {
            text-decoration: none;
            color: rgb(182, 179, 179);
            font-size: 1.5em;
            display: block;
        }

            nav li a:hover {
                color: rgb(168, 127, 24);
                text-decoration: none;
            }

.navbar-right {
    position: relative;
    right: 30px;
    font-size: 0.7em;
}

nav .sub .category_li {
    font-size: 0.8em;
    color: gray;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-left: -25px;
}

/* clear'n floats */
ul:after {
    clear: both;
}

/* sub display*/
ul.primary li:hover ul {
    display: block;
    background-color: rgb(6, 10, 13);
}

/* subs */
ul.sub {
    position: absolute;
    z-index: 200;
    padding: 0px 0px;
    display: none;
    width: 30%;
    border-bottom: 1px solid rgb(168, 127, 24);
    border-left: 1px solid rgb(168, 127, 24);
    margin-top: 10px;
    border-bottom-left-radius: 10px;
}

    ul.sub li {
        float: none;
        display: block;
        margin: -20px 0 0 10px;
    }

    ul.sub a {
        color: rgb(182, 179, 179);
        font-size: 1.1em;
    }

    ul.sub li a:hover {
        color: rgb(168, 127, 24);
    }

    ul.sub .menu_left {
        width: 45%;
        float: left;
    }

        ul.sub .menu_left::after {
            clear: both;
        }





@media only screen and (max-width: 600px) {
    .decor {
        padding: 3px;
    }

    .wrap {
        width: 100%;
        margin-top: 0px;
    }

    li {
        float: none;
    }

    ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }

    ul.primary li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }

    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }

        ul.sub li a {
            background: #272727;
            border: none;
            color: #8B8B8B;
        }

            ul.sub li a:hover {
                color: #ccc;
                background: none;
            }
}




/* Movie slide */
.create-button {
    margin: -20px 0 50px -20px;
}

    .create-button a {
        color: rgb(168, 127, 24);
    }

        .create-button a:hover {
            text-decoration: none;
        }

.sort-options {
    float: right;
    margin-right: 50px;
    text-align: center;
    padding: 10px 10px 2px;
    border-bottom: 1px solid rgb(168, 127, 24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(6, 10, 13);
}

    .sort-options::after {
        clear: both;
    }

    .sort-options p {
        display: inline-block;
        color: rgb(182, 179, 179);
    }

    .sort-options a {
        color: rgb(168, 127, 24);
    }

        .sort-options a:hover {
            color: rgba(168, 127, 24, 0.5);
            text-decoration: none;
        }

.container {
    width: 90%;
    margin: 100px auto;
}

.box {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    overflow: hidden;
    width: 19%;
    height: 250px;
    float: left;
    margin: 0 3px 3px 0;
    border-radius: 2%;
}

    .box img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }

    .box:hover img {
        transform: scale(1.4);
        filter: grayscale(80%);
        object-fit: cover;
    }

    .box .box-content {
        color: #fff;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(8,13,17,1)), color-stop(2%, rgba(8,13,17,1)), color-stop(50%, rgba(20,40,50,1)), color-stop(99%, rgba(8,13,17,1)), color-stop(100%, rgba(8,13,17,1)));
        background: -webkit-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%);
        background: -o-linear-gradient(0deg, rgba(8,13,17,1) 0%, rgba(8,13,17,1) 2%, rgba(20,40,50,1) 50%, rgba(8,13,17,1) 99%, rgba(8,13,17,1) 100%);
        width: 90%;
        padding: 15px 0 10px 10px;
        opacity: 0;
        transform: translateY(-50%);
        position: absolute;
        top: 75%;
        left: -100%;
        z-index: 1;
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
        transition: all 0.3s ease;
        border-bottom: 2px solid rgb(168, 127, 24);
    }

    .box:hover .box-content {
        opacity: 1;
        left: -1px;
    }

        .box:hover .box-content a {
            text-decoration: none;
        }

    .box .genre-title {
        font-size: 8px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 3px;
        color: rgb(168, 127, 24);
        position: relative;
    }

    .box .title {
        font-size: 15px;
        text-transform: capitalize;
        display: block;
    }

    .box .year {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 10px;
        display: block;
        color: grey;
    }

    .box .icon {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .box .icon li {
            margin: 0px;
            display: inline-block;
        }

            .box .icon li a {
                color: #fff;
                background: transparent;
                font-size: 10px;
                text-align: center;
                line-height: 20px;
                height: 20px;
                width: 20px;
                border: 1px solid #fff;
                border-radius: 50%;
                display: block;
                position: relative;
                transition: all 0.3s ease;
            }

                .box .icon li a:hover {
                    color: #fff;
                    box-shadow: 0 0 10px #fff;
                }

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}


/* Star index */
.clear {
    clear: both;
}

.star-index {
    width: 48%;
    float: left;
    position: relative;
    margin-bottom: 50px;
}

.star-image {
    width: 30%;
    height: 200px;
    float: left;
    position: relative;
    z-index: 1;
}

    .star-image img {
        width: 100%;
        height: 100%;
        border-radius: 5%;
        object-fit: cover;
    }

.star-text {
    padding: 10px;
    position: absolute;
    width: 80%;
    height: 180px;
    left: 5%;
    bottom: -10%;
    border-bottom: 1px solid rgb(168, 127, 24);
    border-left: 1px solid rgb(168, 127, 24);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(8,13,17,1);
}

.star-text-content {
    width: 100%;
    position: relative;
    left: 35%;
    color: white;
}

    .star-text-content p {
        color: gray;
        font-size: 13px;
        width: 65%;
    }

    .star-text-content h5 {
        font-size: 15px;
        position: relative;
        left: -8px;
    }

    .star-text-content a {
        display: block;
        width: 50%;
    }

        .star-text-content a:hover {
            text-decoration: none;
        }


/* Create-Edit form */
.breadcrumb {
    margin: 30px 0;
    background: transparent;
}

    .breadcrumb a {
        color: rgb(168, 127, 24);
    }

.create-form {
    font-size: 20px;
    color: gray;
}

    .create-form input {
        background: transparent;
        outline: none;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid rgb(168, 127, 24);
        font-size: 17px;
    }

    .create-form textarea {
        background: rgba(20,40,50,1);
        outline: none;
        border: 0;
        font-size: 17px;
    }

    .create-form input:focus {
        opacity: 1;
        box-shadow: none;
    }

.form-position {
    width: 35%;
    margin: 0 auto 0 20%;
}

.form-left {
    width: 45%;
    float: left;
}

.form-right {
    width: 45%;
    float: right;
}

.create-form select {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(168, 127, 24);
    border-radius: 0;
}

    .create-form select:focus {
        box-shadow: none;
        background-color: transparent;
    }

.create-form .btn {
    background-color: rgb(168, 127, 24);
    color: white;
    margin-top: 10px;
    padding: 5px 30px;
}

.form-group {
    margin-bottom: 50px;
}



.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 10px 10px 0 0;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.star-form-margin {
    margin-top: 50px;
}

.form-group span {
    font-weight: bold;
}

.text-danger {
    font-size: 14px;
}

/* Details */
.details-container {
    color: grey;
}

.details-title {
    font-size: 30px;
    margin-bottom: 20px;
    width: 20%;
}

.details-img {
    height: 300px;
    width: 230px;
    float: left;
}

    .details-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.details-info {
    width: 70%;
    float: left;
    margin-top: 30px;
    font-size: 16px;
}

.details-cast-img {
    width: 130px;
    height: 170px;
    float: left;
    margin: 10px;
}

    .details-cast-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.details-cast h5 {
    font-size: 20px;
    color: grey;
    margin-top: 80px;
    padding: 10px;
    border-bottom: 1px solid rgb(168, 127, 24);
}

.details-cast h6 {
    font-size: 15px;
    color: rgb(168, 127, 24);
    padding: 5px;
}

.details-cast-img:hover a, .details-cast-img:hover h6 {
    text-decoration: none;
    color: rgba(168, 127, 24, 0.5);
}

.details-cast {
    margin-bottom: 300px;
}

.details-reviews {
    margin-top: 80px;
    color: grey;
    width: 100%;
}

    .details-reviews h5 {
        font-size: 20px;
        color: grey;
        margin-top: 80px;
        margin-bottom: 50px;
        padding: 10px;
        border-bottom: 1px solid rgb(168, 127, 24);
    }

.details-review-new {
    width: 50%;
    float: left;
    position: relative;
    left: 3%;
}

.details-reviews-list {
    float: left;
    width: 40%;
}

.review-username {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.review-date {
    float: right;
}

.one-review {
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid rgb(168, 127, 24);
    padding: 10px;
}
