@model Kino.Models.Kino.TVShowModel.TVShowStarModel

@{
    ViewData["Title"] = "Create";
}


<ol class="breadcrumb" style="background-color: transparent;">
    <li><a asp-action="Index">TV Shows</a></li>
    <li class="active">Create TV show</li>
</ol>


<div class="row create-form">
    <div class="form-position">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TVShow.Title" class="control-label"></label>
                <input asp-for="TVShow.Title" class="form-control" />
                <span asp-validation-for="TVShow.Title" class="text-danger"></span>
            </div>
            <div class="form-group form-left">
                <label asp-for="TVShow.ReleaseDate" class="control-label"></label>
                <input asp-for="TVShow.ReleaseDate" class="form-control" />
                <span asp-validation-for="TVShow.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-right">
                <label asp-for="TVShow.NumberOfEpisode" class="control-label">Episodes number</label>
                <input asp-for="TVShow.NumberOfEpisode" class="form-control" />
                <span asp-validation-for="TVShow.NumberOfEpisode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TVShow.Description" class="control-label"></label>
                <textarea asp-for="TVShow.Description" class="form-control" rows="7"></textarea>
                <span asp-validation-for="TVShow.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Multimedia.Image" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Multimedia.Image" class="form-control custom-file-input" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-checkbox">
                    <span>Genre</span>
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<Kino.Models.Kino.TVShowModel.TVShowGenreModel> genres = ViewBag.GenresTVShowNew;

                                foreach (var genre in genres)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                          <label class="container-checkbox">
                                              <input class="form-checkbox"
                                                     type="checkbox"
                                                     name="selectedGenres"
                                                     value="@genre.GenreId"
                                                     @(Html.Raw(genre.Check ? "checked=\"checked\"" : "")) />
                                              @genre.Title
                                              <span class="checkmark"></span>
                                          </label>
                                    @:</td>
                                }
                            @:</tr>
                            }

                        </table>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Star</label>
                    <select asp-for="selectedStars" class="select-picker form-control" multiple="multiple"
                            id="star" placeholder="" asp-items="ViewBag.PossibleStars" SelectionMode="Multiple"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }