@model Kino.Models.Kino.DirectorModel.DirectorViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb" style="background-color: transparent;">
    <li><a asp-action="Index">Directors</a></li>
    <li class="active">Edit director</li>
</ol>


<div class="row create-form">
    <div class="form-position">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Director.DirectorId" />
            <div class="form-group">
                <label asp-for="Director.FirstName" class="control-label"></label>
                <input asp-for="Director.FirstName" class="form-control" />
                <span asp-validation-for="Director.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.LastName" class="control-label"></label>
                <input asp-for="Director.LastName" class="form-control" />
                <span asp-validation-for="Director.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Birth" class="control-label"></label>
                <input asp-for="Director.Birth" class="form-control" />
                <span asp-validation-for="Director.Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Description" class="control-label"></label>
                <textarea asp-for="Director.Description" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Director.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.ImageUrl" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Director.ImageUrl" class="form-control custom-file-input" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Multimedia.Image" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Multimedia.Image" class="form-control custom-file-input" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

